x.DS_Store

## IntelliJ files
.idea/

## Build files
target/

## Artifact files
out/

## Java class files
*.class

* Properties
**/resources/*.properties

## Backup of pom.xml for maven
pom.xml.versionsBackup
